*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria:#F5C044;
    --cor-secudaria:#4CA154;
    --cor-escura:#18181B;
    --cor-media-escura:#52525A;
    --cor-media-clara:#D4D4D8;
    --cor-clara:#FAFAF9;
    --cor-branca:#FFFFFF;
}
h1, h4, p, li{
    font-family: "Sora", sans-serif;  
}
body{
    background-color: var(--cor-clara);
}

main{
    padding: 30px 10px;
    background-color: var(--cor-clara);
    display: flex;
    flex-direction: column;
    max-width: 1350px;
     margin: auto;
}

#reviewers_icon_back_star{
    background-color: var(--cor-primaria);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviewers_icon_star{
    display:block;
    /* background: linear-gradient(180deg, #FFFFFF 40%, #F5C044, #000000); */
    background: radial-gradient(
      circle at top,
      var(--cor-branca),
      var(--cor-clara) 44%,
      var(--cor-primaria) 65%,
      var(--cor-escura) 100%
    );  
    /* radial-gradient com efeito parecido */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 30px;
    line-height: 1;
}

#reviewers h1{
    margin-top:16px;
    font-size: 36px;
}
#reviewers p{
    margin-top:16px;
    font-size: 20px;
    font-weight: 300;
    color: var(--cor-media-escura);
    line-height: 1.8;
}

ul{
    margin-top: 24px;
    list-style:none;
}
li{
    display:flex;
    align-items: center;
    gap: 9px;
    font-size: 14px;
    color: var(--cor-media-escura);
    margin: 16px 0px;
    letter-spacing: -0.2px;
}

li::before{
    content: "";
    width: 25px;
    height: 25px;
    background: url(assets/Done_ring_round_fill.svg) no-repeat center/contain;
    flex-shrink: 0;
}


.card{
    margin-top: 40px;
    padding:30px 40px;
    box-shadow: 4px 4px 10px 0px var(--cor-media-clara);
    border-radius: 8px;
    width: 100%;
    max-width: 640px;
    background-color: var(--cor-branca);
}

.company{
    display: flex;
    gap:14px;
}

.logo{
    width: 90px;
}

.stars{
    height: 25px;
    display: flex;
    flex-direction: row;
}

.username{
    margin-top: 20px;
    font-weight: bold;
    line-height: 2;
}
.user_feedback{
    margin-top: 4px;
    line-height: 1.8;
    color: var(--cor-media-escura);

}



@media (max-width:300px){
    .card{
        padding: 15px 5px;
    }
    .company{
        display: block;
    }
    #reviewers h1{
        font-size: clamp(18px,14vw,40px);
        display: flex;
    }
    main{
        min-width: 150px;
    }
}


@media (min-width:640px) {

    #reviewers{
        padding:30px;
    }
    #deck{
        display: flex;
        flex-direction: column;
    }
    .card{
        max-width: 360px;
    }
    #google{
        margin-left: auto;
        margin-right: 23%;
    }
    #meta{
        margin-right: auto;
        margin-left: 23%;
    }
}

@media (min-width:1280px){

    main{
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    #reviewers{
        width: 50vw;
    }
    #deck{
        width: 50vw;
        padding: 30px;
    }
    #google{
        margin-left: auto;
        margin-right:1%;
    }
    #meta{
        margin-right: auto;
        margin-left: 1%;
    }

}